GraphTest/GraphTest/GraphTest/Service References/GasDetectorReaderService/Microsoft.ServiceModel.Samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Common" />
  <xs:element name="GetLastMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gasdetectorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Common" minOccurs="0" name="GetLastMeasurementResult" nillable="true" type="q1:Measurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>