GraphTest/GraphTest/GraphTest/Service References/GasDetectorReaderService/ZGroup.MonitoringSuite.BDO.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Measurement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmReached" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CellLife" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DeviceFault" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FlowRate" nillable="true" type="xs:long" />
      <xs:element name="GasDetectorId" type="xs:long" />
      <xs:element name="LogDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:long" />
      <xs:element name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValueFCN" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
</xs:schema>