GraphTest/GraphTest/GraphTest/Service References/CommunicationBusService/CommunicationBusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SetIpAddressHelper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segment" type="xs:long" />
      <xs:element minOccurs="0" name="SetIp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetIpAddressHelper" nillable="true" type="tns:SetIpAddressHelper" />
</xs:schema>