GraphTest/GraphTest/GraphTest/Service References/CommunicationBusService/CommunicationBusService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Services.PaxtonReader" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Services.PaxtonReader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Set" nillable="true" type="tns:Set" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSet" nillable="true" type="tns:ArrayOfSet" />
  <xs:complexType name="Set">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpNumber" type="xs:long" />
      <xs:element minOccurs="0" name="PaxtonAreaId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SetId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Set" nillable="true" type="tns:Set" />
</xs:schema>