GraphTest/GraphTest/GraphTest/Service References/CommunicationBusService/CommunicationBusService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ZGroup/CommunicationBusService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Helpers" />
  <xs:import schemaLocation="http://localhost:8000/ZGroup/CommunicationBusService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ACamera">
    <xs:sequence>
      <xs:element minOccurs="0" name="CameraBrand" type="tns:ACamera.CameraBrandEnum" />
      <xs:element minOccurs="0" name="CameraIp" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZGroup.MonitoringSuite.BDO.Helpers" minOccurs="0" name="IpAddressHelper" nillable="true" type="q1:SetIpAddressHelper" />
      <xs:element minOccurs="0" name="SetId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ACamera" nillable="true" type="tns:ACamera" />
  <xs:simpleType name="ACamera.CameraBrandEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Axis">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mobotix">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ACamera.CameraBrandEnum" nillable="true" type="tns:ACamera.CameraBrandEnum" />
</xs:schema>